name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- Python ----------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Python lint (ruff)
        run: |
          ruff .

      - name: Run tests
        run: |
          pytest -q

      # ---------- Terraform ----------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt & validate
        working-directory: infrastructure/terraform
        run: |
          terraform fmt -check
          terraform init -backend=false
          terraform validate
